@font-face {
    font-family: 'Futura';
    src: url('../assets/Futura\ LDR.ttf');
    font-weight: normal;
    font-style: normal;

}

body {
    --color1: #a6beff;
    --color2: #f8d487;
    --color3: #03570a;
    --color4: #076607;
    --color5: white;

    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Futura', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}
h1 {
    font-size: 5em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-left: center;
    margin-right: 100px;
    margin-top: center;
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);

}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
    

h2 {
    font-size: 2.5em;
    font-weight: bold;
    
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

.button {
	box-shadow:inset 0px -3px 7px 0px #3dbe26;
	background:linear-gradient(to bottom, #49c212 5%, #3c8f15 100%);
	background-color:#67a701;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.button:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.button:active {
	position:relative;
	top:1px;
}

.reset-button {
	box-shadow:inset 0px -3px 7px 0px #3dbe26;
	background:linear-gradient(to bottom, #49c212 5%, #3c8f15 100%);
	background-color:#67a701;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.reset-button:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.reset-button:active {
	position:relative;
	top:1px;
}
p {
    font-size: 2em;
    font-weight: bold;
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

  input[type='radio']{
    display: none;
}

input[type='radio']:checked + img{
    border: 3px solid black;
}

#reset-button{
    display: none; 
}

#button{
    display: block;
}


#winSpan{
    font-size: 1em;
    font-weight: normal;
}

#loseSpan{
    font-size: 1em;
    font-weight: normal;
}

#drawSpan{
    font-size: 1em;
    font-weight: normal;
}

#resultSpan{
    font-size: 3em;
}